<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hcw.first.springboot.leaf.mapper.UserMapper" >
    <sql id="BASE_TABLE">
        t_users
    </sql>

    <sql id="BASE_COLUMN">
        uid,username,password,email,homeUrl,screenName,created,activated,logged,groupName
    </sql>

    <select id="getUserById" resultType="hcw.first.springboot.leaf.entity.User">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        uid = #{uid, jdbcType=INTEGER}
    </select>
</mapper>